<!DOCTYPE html>
<html lang="en">
<head>
    <title>Все учебные заведения Уфы</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Общий header -->
    <%- include('../partials/header') %>

    <!-- Основной контент -->
    <main>
        <%- body %> <!-- Здесь рендерится контент страницы -->
    </main>

    <!-- Общий footer -->
    <%- include('../partials/footer') %>
</body>
</html>