<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Добро пожаловать в админ-панель, <%= user.username %>!</h1>
    <ul>
        <li><a href="/admin/institutions">Управление заведениями</a></li>
    </ul>
</body>
</html>