<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a6fb2199-c86a-4324-a83d-2a2786a01db6&lang=ru_RU"></script>
    <script src="/js/yandex-map-v2.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="display-4 mb-4">Создать новое заведение</h1>
        <form id="create-institution-form" action="/admin/create-institution" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Название:</label>
                <input type="text" id="name" name="name" required class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Описание:</label>
                <textarea id="description" name="description" class="form-control" rows="3"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="type" class="form-label">Тип:</label>
                <select id="type" name="type" required class="form-select">
                    <option value="" disabled selected>Выберите тип</option>
                    <option value="Школа">Школа</option>
                    <option value="Колледж">Колледж</option>
                    <option value="Университет">Университет</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="rating" class="form-label">Рейтинг:</label>
                <input type="number" id="rating" name="rating" min="0" max="5" step="0.1" required class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="address" class="form-label">Адрес:</label>
                <input type="text" id="address" name="address" required class="form-control">
            </div>
            
            <div id="map" style="width: 100%; height: 400px; margin-top: 20px;"></div>
            <input type="hidden" id="latitude" name="latitude" required>
            <input type="hidden" id="longitude" name="longitude" required>
            <a href="/admin/institutions" class="btn btn-secondary mt-3">Отмена</a>
            <button type="submit" class="btn btn-primary mt-3">Создать</button>
        </form>
    </div>
</body>
</html>
